.homepage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 60px 30px 30px;
    text-align: center;
    @media (min-width: $ipad-portrait) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: unset;
    }
    .display-text {
        position: absolute;
        left: 0;
        top: 80%;
        font-family: $secondary-font;
        max-width: 1350px;
        font-size: 250px;
        line-height: 0.9;
        z-index: 1;
        opacity: 0.1;
        transform: rotate(330deg) translateY(-50%);
        user-select: none;
        margin: 0;
        @media (min-width: $ipad-landscape) {
            font-size: 500px;
            top: 50%;
        }
    }
    h1 {
        font-size: 24px;
        margin: 0;
        font-weight: bold;
        letter-spacing: 15px;
        text-shadow: 0 0 16px $neon-purple;
        position: relative;
        line-height: 1;
        z-index: 2;
        text-align: center;
        text-transform: uppercase;
        span {
            text-transform: lowercase;
        }
        @media (min-width: $ipad-portrait) {
            font-size: 40px;
        }
        @media (min-width: $ipad-landscape) {
            font-size: 50px;
        }
        &:after {
            content: '';
            width: 95%;
            height: 70%;
            position: absolute;
            display: block;
            border: 6px solid $neon-green;
            background: transparent;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) skew(-20deg);
            opacity: 0.8;
            @media (min-width: $ipad-landscape) {
                opacity: 1;
                border: 10px solid $neon-green;
                height: 80%;
            }
        }
    }
}