$primary-font: 'Roboto Mono', monospace;
$secondary-font: 'Permanent Marker', cursive;

$neon-green: #45EBD7;
$neon-purple: #4728EF;
$blue: #215CE0;
$pink: #FF00CC;
$white: white;
$black: black;

$base-font-size: 16px;

$ipad-landscape: 1025px;
$ipad-portrait: 769px;
$mobile: 415px;